table {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #777;
  border-collapse: collapse;
}
h4 {
  text-align: center;
}
tr, td, th {
  border: 1px solid #777;
  padding: 10px;
}
th {
  background-color: beige;
}