#container{
  width: 530px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 30px;
}
fieldset{
  border: none;
}
legend{
  color: rgb(57, 0, 212);
  font-weight: bold;
  font-size: 18;
}
li{
  list-style: none;
}
input:checked + span{
  color: #00f;
}
#pi li label{
  width: 50px;
  display: inline-block;
}