h3{
      text-align: center;
    }
    table{
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0 auto;
    }
    th, td{
      border: 1px solid #ccc;
      padding: 10px 40px;
      text-align: center;
    }
    tr{
      border: 1px solid #ccc;
      padding: 10px;
    }
    tr:first-child{
      background-color: pink;
    }