#container {
  width: 500px;
  margin: 0 auto;
}
#check {
  border: 1px solid #999;
  text-align: center;
}
#check h1{
  text-align: left;
  color: #fff;
  background-color: #383838;
  font-size: 16px;
  padding: 5px;
  margin: 0;
}
#check h2{
  color: #f00;
  font-size: 1.5em;
}
img {
  width: 100%;
  height: 300px;
}
p {
  font-size: 1.2em;
  line-height: 2em;
  font-weight: bold;
}
.accent {
  color: #00f;
}
.smalltext {
  font-size: 0.7em;
}