table{
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
caption{
  caption-side: bottom;
}